.titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;

}
nav{
    text-align: center;
    margin: 1px;
    padding: 1px;
}
nav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 5px;
    color: black;
    
    
}

.cartera1{
    height: 30%;
    width: 30%;
}

.cartera2{
    height: 30%;
    width: 30%;
    
}
.cartera3{
    height: 30%;
    width: 30%;
}

.loc{
    height: 30px;
    width: 30px;
    display: flex;
    margin: 5px;


}
.seach{
    height: 30px;
    width: 30px;
    display: flex;
    margin: 5px;

    
}
.ayuda{
    height: 30px;
    width: 30px;
    display: flex;
    margin: 5px;
}
.user{
    height:30px ;
    width: 30px;
    display: flex;
    margin: 5px;
}
.cajaPadre{
    display: flex;
    flex-direction: row-reverse;
    margin: 1px;
    padding: 1px;
    
    
}
.zapas1{
    height:30% ;
    width: 30%;
    
}

.zapas2{
    height:30% ;
    width: 30%;
    
}

.zapas3{
    height: 30% ;
    width: 30%;

}
.botas1{
    height:20% ;
    width: 20%;
}
.botas2{
    height:20% ;
    width:20% ;
}
.campera1{
    height:30% ;
    width: 30%;
}
.campera2{
    height:30% ;
    width:30% ;
}
.campera3{
    height: 30%;
    width:30% ;
}
header{
    background-image: url(../multimeida/blanco.jpg);
}

.shoe{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}



.bandolera{
    height:30% ;
    width:30% ;
    flex-direction: row;
    flex-wrap: nowrap;
}
.botas{
    height:30% ;
    width:30% ;
    flex-direction: row;
    flex-wrap: nowrap;
}
.mochila{
    height:30% ;
    width: 30%;
    flex-direction: row;
    flex-wrap:nowrap ;
}
.fotoo{
    height: 100%;
    width:100% ;
}
.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;


}
.cajaCampe{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;



}
.contenedor1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
footer{ 
    text-align: center;
}
.formC{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formD{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxZapas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.box5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
nav a:hover{
    color: purple;
}