/*------footer-----*/
.footer1{
    background-color: #FFC600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 250px;
        height: 150px;
    }
    ul{
        list-style: none ;
        li{
            a{
                text-decoration: none;
                color: #00918E;
                font-weight: bold;
                text-transform: uppercase;
                text-shadow: 2px 2px 2px white;
            }
        }
    }
    div{
        a{
            img{
                width: 50px;
                height: 50px;
            }
        }
    }

}
.footer1{
    .boton{
        border: #00918E;
        background-color: #00918E;
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
        margin-top: 10px;
    }
    .email{
        border: 2px solid #00918E;
        background-color: #E0DDAA;
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
        margin-top: 10px;
        
    }
}

    @media screen and (max-width: 805px){
        .footer1{
            flex-direction: column;
            justify-content: center;
        }
    }
