/* ---------extend--------*/
.imagenS1{
    width:600px ;
    height:400px;
    padding:15px ;
}
.imagenS2{
    @extend .imagenS1;
    padding: 10px;
    
}
/*----------mixin----------*/
@mixin primero ($ancho,$alto){
    width: $ancho;
    height: $alto;
}

img{
    border: 1px;
    @include primero (200px, 150px)
}

